<app-theme-toggle></app-theme-toggle>
<div class="todo-container">
	<h1 class="todo-header">To do List</h1>

	<div class="controls">
		<select [(ngModel)]="selectedFilter">
			<option *ngFor="let opt of filterOptions" [value]="opt">{{ opt }}</option>
		</select>

		<div class="add-box">
			<input type="text" [(ngModel)]="newTodoText" placeholder="Placeholder" (keyup.enter)="create()" />
		</div>
	</div>

	<section class="todo-list">
		<h2 class="list-title">{{ selectedFilter }}</h2>
		<ng-container *ngIf="loading; else showTodos">
			<div class="skeleton-item" ngFor="let n of [1, 2, 3]"></div>
		</ng-container>

		<ng-template #showTodos>
			<app-todo-item *ngFor="let todo of filteredTodos" [todo]="todo" (update)="update($event)"
				(delete)="delete($event)"></app-todo-item>
		</ng-template>
	</section>
</div>